# **Welcome to Python tutorial**

## **First let's explore print statement**

### Printing hello world

In [16]:
print("Hello World")

Hello World

### Printing a variable

In [17]:
a = 10
print(a)

10

### Printing a number

In [18]:
print(10)

10

### Printing a variable along with random output string

In [19]:
a = 100
print(f"The number is {a}")

The number is 100

### We can directly do arithemetic operations inside print()

In [20]:
print(4*6)

24

## Introduction to User Inputs

### Getting input from the user

In [24]:
input_example = input("Enter your name")
print(input_example)

coderdeck

### Getting multiple inputs and printing it

In [25]:
a = input()
b = input ()
print(a, b)

5 10

### Confusion Part - 1

In [26]:
a+b

'510'

### Confusion part - 2 and error

In [27]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

### Typecasting to fix the error

In [28]:
int(a) * int(b)

50

### Input typecasting

In [29]:
c = int(input())
d = int(input())
print(c*d)